@font-face {
  font-family: Typold;
  src: url("fonts/Typold.otf") format("opentype");
}

@font-face {
  font-family: Airfly;
  src: url("fonts/Airfly.otf")format("opentype");
}

@font-face {
  font-family: Mont;
  src: url("fonts/Mont.otf")format("opentype");
}

@font-face {
  font-family: Crossten;
  src: url("fonts/Crossten.ttf") format("truetype");
}

@font-face {
  font-family: Basier;
  src: url("fonts/BasierCircle.otf")format("opentype");
}

.saluc {
  font-family: Mont;
  font-size: 3.2em;
  color: #F5F5F5;
}

.nibru {
  font-family: Mont;
  font-size: 3.2em;
  color: #00a0c8;
}

.point {
  font-family: Airfly;
  font-size: 3.2em;
  color: #F5F5F5;
}


* {
  font-family: Basier;
  font-weight: 100;
  font-size: 35px;
  color: #F5F5F5;
  text-decoration: none;
  transition: 0.65s;
  line-height: 1em;
  margin:auto;
  letter-spacing: 0.05em;
  line-height: 1.5em;
}

html {
  height:100%;
  background: radial-gradient(ellipse at bottom, #101820 0%, #101820 100%);
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: right;
  min-height: 100vh;
}


.powered {
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: solid 5px #000;
}

::selection {
  background-color: inherit;
  color: inherit;
}


ul {
  list-style-type: none;
  justify-content: left;
}



.Twitter:hover {color: #1da1f2;}
.fa-twitter:hover {color: #1da1f2;}

.DeviantArt:hover {color: #05cc47;}
.fa-deviantart:hover {color: #05cc47;}

.YouTube:hover {color: #ff0000;}
.fa-youtube:hover {color: #ff0000;}

.Discord:hover {color: #7289DA;}
.fa-discord:hover {color: #7289DA;}

.Reddit:hover {color: #ff4500;}
.fa-reddit-alien:hover {color: #ff4500;}

.Steam:hover {color: #144a7d;}
.fa-steam:hover {color: #144a7d;}

.GitHub:hover {color: #6d2a88;}
.fa-github:hover {color: #6d2a88;}


.fa-bolt:hover {color: #3ba49f;}
.fa-bolt {font-size: 1em;}


#git:hover {color: #6d2a88;}
#git {color : #6d2a88; font-size: 1em;}





/* COULEURS :
Rouge : #f44336
Rose : #e91e63
Violet : #e040fb
Violet 2 : #d500f9
Violet 3 : #6200ea
Bleu #2196f3
Bleu 2 : #42a5f5
Bleu 3 : #536dfe
Cyan : #26c6da
Cyan 2 : #18ffff
Lime : #c6ff00
Vert : #76ff03
Vert 2 : #69f0ae
Jaune : #ffff00
Orange : #ff9100
Orange 2 : #ff3d00
*/

/*
Twitter: #1da1f2
DeviantArt:#05cc47
YouTube: #ff0000
Discord: #7289DA
Reddit: #ff4500
Steam: #144a7d
GitHub: #6e5494
*/
