* {
  font-family: Source Sans Pro;
  font-weight: 300;
  font-size: 21px;
  color: #23272A;
  text-decoration: none;
  background-color: #f6f6f6;
  transition: 0.5s;
  text-transform:full-width;
}


body {
  margin: 0;
  padding: 0;
}


.box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}


.box2 {
  font-size: 15px;
}

::selection {
  background-color: #23272A;
  color: #f6f6f6;
}




.Twitter:hover {color: #1da1f2;}
.fa-twitter {color: #1da1f2; font-size: 1.5em;}

.DeviantArt:hover {color: #05cc47;}
.fa-deviantart {color: #05cc47;}

.YouTube:hover {color: #ff0000;}
.fa-youtube {color: #ff0000;}

.Discord:hover {color: #7289DA;}
.fa-discord {color: #7289DA;}

.Reddit:hover {color: #ff4500;}
.fa-reddit-alien {color: #ff4500;}

.Steam:hover {color: #171a21;}
.fa-steam {color: #171a21;}

.GitHub {color: #24292e;}
.fa-github {color: #24292e;}

.fa-bolt:hover {color: #4acaa8;}
.fa-bolt {font-size: 15px;}

.git {color: #e0245e; font-size: 15px;}




/*
Twitter: #1da1f2
CuriousCat: #c17000
DeviantArt:#05cc47
YouTube: #ff0000
Discord: #7289DA
Reddit: #ff4500
Steam: #171a21
GitHub: #24292e
*/


/*
Roboto:100,300,400
Raleway:200,300,400
Montserrat:300,400,500
*/
