.lientwitter {
  text-decoration: none;
  color: black;
}

.lientwitter:hover {
  color: #b43bff;
}

.icotwitter:hover, .icotwitter:hover ~ .attwitter {
  color: #1da1f2;
}

.hovered {
  color: coral;
}
